@use '../helpers/variables'as *;
@use '../helpers/mixins'as *;
@use '../base/typography'as *;
@use '../base/reset'as *;
@use '../layout/main' as *;


body {
    background-color: $veryDarkBlue;
    min-height: 100vh;
    width: 100%;
    min-width: 375px;
    overflow: hidden;
    background-image: url("/src/images/bg-mobile.svg");
    background-size: cover;

    @include  breakmedia('tablet'){
        background-image: url("/src/images/bg-desktop.svg");
        background-position: left bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.attribution {
    font-size: 12px;
    text-align: center;
    position: absolute;
    height: auto;
	overflow: auto;
	margin: auto;
	left: 0;
	bottom: 10px; 
    right: 0;

    p:first-child {
        padding-bottom: 5px;
    }
}

.attribution a {
    color: $paleBlue;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.attribution a:hover {
    color: $rose;
    transition: 0.5s;
    padding-left: 2px;
}

.attribution a:focus {
    outline: 1px dashed $rose;
    outline-offset: 2px;
}